<!DOCTYPE html>
<html>

<head>
<h2 style="color:orange;">
    Prison Break Tutorial
</h2>

<br>
<i style="color:gray;">
    Send commands as subject to 
    <a href="mailto:{{ email_address }}" style="color:coral;">{{ email_address }}</a>
    (capitalize is not matter)
</i>
<br>

<h3 style="color:red;">
    Commands:
</h3>

</head>
<body style="font-family:Arial, Helvetica, sans-serif;">

<i style="color:gray;">
    <i style="color:coral;">Note:</i> Commands (mtproto, v2ray, sstp and argo) can send by text using like this: "sstp text"
</i>
<br>

{% for command in help %}
    <br>
    <li>
        <a href="mailto:{{ email_address }}?subject={{ command[0] }}">
            <b>
                {{ command[0] }}
            </b>
        </a>
    </li>
    <ul>
        {{ command[1] }}
    </ul>
{% endfor %}

</body>
</html>