<!DOCTYPE html>
<html>
<head>

</head>

<body style="background-color: aqua;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
<p>
    <h2>
        <a href="mailto:{{ email_address }}">
            Prison Break Tutorial
        </a>
    </h2>
</p>
<p><p></p></p>
<i>
    Send commands as subject to 
    <a href="mailto:{{ email_address }}">{{ email_address }}</a>
    (capitalize is not matter)
</i>
<br></br>
<p>
    <h3>
        Commands:
    </h3>
</p>
<p></p>
<br>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=help">
                <b>
                    help
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you the tutorial.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=mtproto">
                <b>
                    mtproto
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you a TXT file of MTProto proxies (work with "mtproxy" too).
            <br><a href="mailto:{{ email_address }}?subject=mtproto%20text">mtproto text</a>
            : Send proxies without file.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=v2ray">
                <b>
                    v2ray
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you a TXT file of V2ray servers (work with "vless", "vmess" and "trojan" too).
            <br><a href="mailto:{{ email_address }}?subject=v2ray%20text">v2ray text</a>
            : Send servers without file.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=sstp">
                <b>
                    sstp
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you a TXT file of Open-SSTP servers.
            <br><a href="mailto:{{ email_address }}?subject=sstp%20text">sstp text</a>
            : Send servers without file.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=config">
                <b>
                    config
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you a ZIP file of HTTP-injector and HTTP-Custom configs.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=apk%20injector">
                <b>
                    apk injector
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you HTTP-injector and V2ray-Plugin  APKs download link.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=apk%20custom">
                <b>
                    apk custom
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you HTTP-Custom APK download link.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=apk%20v2ray">
                <b>
                    apk v2ray
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you V2rayNG APK download link.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=apk%20every">
                <b>
                    apk every
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you EveryProxy APK download link.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=apk%20sstp">
                <b>
                    apk sstp
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you Open-SSTP Client APK download link.
        </ul>
    </p>
    <p>
        <li>
            <a href="mailto:{{ email_address }}?subject=apk%20ultrasurf">
                <b>
                    apk ultrasurf
                </b>
            </a>
        </li>
    </p>
    <p>
        <ul>
            Send you UltraSurf APK download link.
        </ul>
    </p>
</br>
</body>
</html>

